.pokecard-container {
  background-color: #666;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 3px solid white;
  border-radius: 4px;
  transition: all .24s;
}

.pokecard-container:hover {
  transform: scale(1.075);
}

.poke-image {
  width: 140px;
}

.exp-number {
  /* color: #61dafb; */
  color: gold;
}